network:
  version: 2
  renderer: networkd
  ethernets:
    {{ interface }}:
      addresses:
        - {{ ip4 }}/24
      gateway4: {{ gateway4 }}
      nameservers:
          search:{% for name in search %}
            - {{ name }}{% endfor %}
          addresses:{% for ip in addresses %}
            - {{ ip }}{% endfor %}
