# See /usr/share/postfix/main.cf.dist for a commented, more complete version

smtpd_banner = $mydomain ESMTP $mail_name
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no

# See http://www.postfix.org/COMPATIBILITY_README.html -- default to 2 on
# fresh installs.
compatibility_level = 2

# TLS parameters
#smtpd_tls_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
#smtpd_tls_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
#smtpd_tls_security_level=may

# generated 2020-07-14, Mozilla Guideline v5.4, Postfix 3.4.8, OpenSSL 1.1.1d, modern configuration
# https://ssl-config.mozilla.org/#server=postfix&version=3.4.8&config=modern&openssl=1.1.1d&guideline=5.4
smtpd_tls_security_level = may
smtpd_tls_auth_only = yes
smtpd_tls_cert_file = {{ ssl_cert }}
smtpd_tls_key_file = {{ ssl_key }}
smtpd_tls_mandatory_protocols = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1, !TLSv1.2
smtpd_tls_protocols = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1, !TLSv1.2

tls_preempt_cipherlist = no

smtp_tls_CApath=/etc/ssl/certs
smtp_tls_security_level=may
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

smtpd_relay_restrictions =
   permit_mynetworks
   permit_sasl_authenticated
   # This setting prevents being an open relay.
   reject_unauth_destination

myhostname = mail.greenweb.ca
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
mydestination = $myhostname, localhost, localhost.$mydomain, $mydomain
relayhost =
# Restricted -- can send from itself, from the vswitch network
# I don't think I need the docker network because of NATting... could be wrong.
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128 {{ openvswitch_cidr }}
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = all

# Never forward any mail. I think this means I can only get mail from
# trusted sources, like mail servers with a domain name... But not from
# just anybody with a loptop.
relay_domains =

proxy_interfaces = {{ external_ip }}

# Prevent spammers from searching for valid users.
disable_vrfy_command = yes

# require that connecting mail servers identify themselves - this greatly
# reduces spam
smtpd_helo_required = yes
smtpd_helo_restrictions =
    # permit_mynetworks  # Senders on my network should introduce selves.
    permit_sasl_authenticated
    reject_non_fqdn_helo_hostname
    reject_invalid_helo_hostname
    reject_unknown_helo_hostname
    # superset of reject_unknown_reverse_client_hostname
    reject_unknown_client_hostname
    reject_unknown_sender_domain
    reject_unauth_pipelining

smtpd_sender_restrictions =
    permit_mynetworks,
    permit_sasl_authenticated,
    reject_non_fqdn_sender,
    reject_unknown_sender_domain,
    reject_unauth_pipelining

# require properly formatted email addresses - prevents a lot of spam
strict_rfc821_envelopes = yes

# disable "new mail" notifications for local unix users
biff = no

# don't give any helpful info when a mailbox doesn't exist
show_user_unknown_table_name = no

# limit maximum e-mail size to 50MB. mailbox size must be at least as big as
# the message size for the mail to be accepted, but has no meaning after
# that since we are using Dovecot for delivery.
message_size_limit = 51200000
mailbox_size_limit = 51200000

# require addresses of the form "user@domain.tld"
allow_percent_hack = no
swap_bangpath = no

# allow plus-aliasing: "user+tag@domain.tld" delivers to "user" mailbox
recipient_delimiter = +

# add a message header when email was recieved over TLS
smtpd_tls_received_header = yes
