#!/bin/bash

if [[ "$1" == '-h' || "$1" == '--help' ]]; then
    echo "Usage $0 [dn]"
    echo ""
    echo "Will prompt for superuser password"
    echo "and then update the password for dn."
    echo ""
    echo "if dn is not provided. Prompts for it."
    exit 1
fi

echo -n "Enter the ldap root password: "
read -s ROOT_PASSWORD
echo

DN=${1:-}
if [[ $DN == '' ]]; then
    echo -n "DN to change: "
    read DN
    echo
fi

echo -n "Enter the DN's new password: "
read -s PASSWORD
echo

echo -n "Re-enter users new password: "
read -s PASSWORD_REPEAT
echo

if [[ "$PASSWORD" != "$PASSWORD_REPEAT" ]]; then
    echo "Passwords didn't match."
    exit 1
fi

CRYPTPASSWORD="$(slappasswd -h {CRYPT} -c '$6$%.16s' -s "$PASSWORD")"

cat <<EOF | ldapmodify -x -D cn=admin,dc={{ org }},dc={{ tl }} -H ldapi:/// -w "${ROOT_PASSWORD}"
dn: $DN
changetype: modify
replace: userPassword
userPassword: $CRYPTPASSWORD

EOF
