[DEFAULT]
ignoreip = 127.0.0.1/8 ::1 {{ openvswitch_network }}

destemail = postmaster@greenweb.ca
sender = fail2ban@greenweb.ca

sshd_log = /var/log/remote/{{ vmhost_hostname }}/sshd.log
postfix_log = /var/log/remote/{{ postfix_hostname }}/postfix.log
dovecot_log = /var/log/remote/{{ postfix_hostname }}/dovecot.log

action    = %(action_mwl)s

banaction = nftables-multiport
chain = input

[postfix]
enabled = true

[postfix-sasl]
enabled = true

[dovecot]
enabled = true
