{
    "client_id": "{{ client_id }}",
    "client_secret": "{{ client_secret }}",
    "grant_types": [
	"authorization_code",
	"refresh_token",
	"client_credentials",
	"implicit"
    ],
    "jwks": {},
    "metadata": {},
    "redirect_uris": [
	"https://grafana.greenweb.ca/login/generic_oauth"
    ],
    "response_types": [
	"token",
	"code",
	"id_token"
    ],
    "scope": "openid offline email profile roles",
    "subject_type": "public",
    "token_endpoint_auth_method": "client_secret_basic",
    "userinfo_signed_response_alg": "none"
}
